.font-14{
    font-size: 14px !important;
}
.font-18{
    font-size: 18px !important;
}
.font-25{
    font-size: 25px !important;
}
.font-30{
    font-size: 30px !important;
}
.font-50{
    font-size: 50px !important;
}
.font-40{
    font-size: 40px !important;
}
.font-70{
    font-size: 70px !important;
}
.font-80{
    font-size: 80px !important;
}

.font-140{
    font-size: 140px !important;
}
.fw-5{
    font-weight: 500 !important;
}
.fw-6{
    font-weight: 600 !important;
}

.fw-7 {
    font-weight: 700 !important;
}
.fw-8{
    font-weight: 800 !important;
}

.fw-9{
    font-weight: 900 !important;
}